{% extends 'mysite/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-8 mb-4">
            <div class="row border-bottom mb-3 pb-3 md:pb-3 md:mb-3">
                <h2 class="blog-post-title col-md-10 col-lg-9 mx-auto">{{ post.title }}</h2>
            </div>
            <div class="blog-post col-md-10 col-lg-9 mx-auto mb-3">
                <p class="blog-post-meta mb-3" style="text-align: right;">{{ post.create_at }} by  <a href="#">{{ post.author }}</a></p>
                <p>{{ post.text }}</p>
                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="/blog/">記事一覧へ</a>
                    <a class="btn btn-outline-primary" href="/">TOPページへ</a>
                </nav>
            </div>
        </div>
        <!-- サイドバー -->
    {% include 'mysite/snipets/sidebar.html' %}
    </div>

{% endblock %}